<!DOCTYPE html>
<html>
    <head>
        <title>Foodmap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>

    <body>
        <div class="i">
        <input type="text" id="search">
        </div>

        <div id="map"></div>

        <script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1jf8UoUXc-WSUSRKHOcoT9wqU7NVI2o4&callback=initMap">
        </script>

        <script src="../src/js/socialtime.js"></script>
    </body>

</html>