<!DOCTYPE html>
<html>
    <head>
        <title>Foodmap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>

    <body>
        <center> <h1 class="navbar-fixed">Gourmap</h1> </center>

           <div id="map"></div>

        <script async defer
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDnPgJ4rfZsG6x6mwtoPRfkZyPlI5RiWM8&callback=initMap">
        </script>

        <div class="i">
            <input type="text" id="search" placeholder="Tipo de comida">
            <button type="button" id="Buscar">Buscar</button>
        </div>

        <div class="modal" id="mod" name="mod"></div>

        <script src="../js/data.js"></script>
        <script src="../js/socialtime.js"></script>
    </body>

</html>