b1 {
    background-image: url("https://images.pexels.com/photos/299347/pexels-photo-299347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: georgia;
    font-size: 2em;
    color: red;
    text-align: center;
  }
  img { 
    width: 1024px; 
    height: 768px; 
}
#map {
    height: 400px;
    width: 100%;
}